/* FormPages.css */

/* Define colors */
:root {
    --yellow-green: #9ACD32; /* Yellow-green */
    --white: #ffffff; /* White */
}

/* Common styles for both register and login forms */
.form-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    border: 1px solid var(--yellow-green);
    border-radius: 10px; /* Curved edges for the form container */
    background-color: var(--white);
}

.form-title {
    text-align: center;
    color: var(--yellow-green);
    font-size: 1.5em;
    margin-bottom: 20px;
}


/* Styling the input fields */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--yellow-green);
    border-radius: 5px; /* Slightly curved edges for input fields */
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
    border-color: var(--yellow-green);
}

/* Styling the buttons */
button {
    width: 100%;
    padding: 10px;
    background-color: var(--yellow-green);
    color: var(--white);
    border: none;
    border-radius: 10px; /* Curved edges for buttons */
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #82B832; /* Darker yellow-green on hover */
}
